*{
  margin: 0;
  padding: 0;
}

html{
  display: grid;
}

header{
  height: 50px;
}

.line{
	color:purple;
	height:4px;
	}

h1{
  color: white;
  background-color: violet;
  margin: auto;
  border-radius: 15px;
  width: 30%;
  gap: 20px;
  height: 50px;
  text-align: center;
  padding-top: 10px;
}

h2{
  margin-top: 30px;
  text-align: center;
}

.l1{
  color: white;
  background-color: violet;
  margin: auto;
  border-radius: 15px;
  width: 20%;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 30px;
  text-align: center;
  padding-top: 8px;
}

.l2{
	color: white;
  background-color: violet;
  margin: auto;
  border-radius: 15px;
  width: 20%;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 30px;
  text-align: center;
  padding-top: 8px;
}

.l3{
  color: white;
  background-color: violet;
  margin: auto;
  border-radius: 15px;
  width: 20%;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 30px;
  text-align: center;
  padding-top: 8px;
}

h4,h5{
  text-align: center;
}

p{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: grid;
  text-align: center;
  margin-top: 35px;
  margin-bottom: 35px;
  font-size: 20px;
}

.meet{
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
}

.item{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;

}
img{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  height: 22vh;
}

.meet1{
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 20px;
}

footer{
  height: 50px;
}


@media only screen and (max-width: 600px) {
	.meet{
		grid-template-columns: auto;
	}
	.meet1{
	grid-template-columns: auto;
	}
	h1,h2,h4,h5{
		font-size:8px;
		height:10px;
		padding-top:0px;	
		}
	p{
		font-size:8px;
		}
	.l1{
		width:30%;
    height: 12px;
    font-size: 10px;
    padding-top: 0px;
		}
    .l2{
      width:20%;
    height: 12px;
    font-size: 10px;
    padding-top: 0px;
    }
    .l3{
      width:25%;
    height: 12px;
    font-size: 10px;
    padding-top: 0px;
    }
}

@media only screen and (min-width: 600px) {
	.meet{
		grid-template-columns: auto;
	}
	.meet1{
	grid-template-columns: auto;
	}
		h1,h2,h3,h4,h5{
		font-size:8px;
		height:10px;
		padding-top:0px;	
		}
	p{
		font-size:8px;
		}
    .l1{
      width:25%;
      height: 14px;
      font-size: 12px;
      padding-top: 0px;
      }
      .l2{
        width:15%;
      height: 14px;
      font-size: 12px;
      padding-top: 0px;
      }
      .l3{
        width:20%;
      height: 14px;
      font-size: 12px;
      padding-top: 0px;
      }

}


@media only screen and (min-width: 768px) {
	.meet{
		grid-template-columns: auto auto;
	}
	.meet1{
	grid-template-columns: auto auto;
	}
		h1,h2,h3,h4,h5{
		font-size:10px;
		height:12px;
		padding-top:0px;	
		margin-top:4px;
		margin-bottom:4px;
		}
	p{
		font-size:10px;
		width:100%;
	margin-top:4px;
	margin-bottom:4px;
		}
	h1{
		width:20%;
			}
      .l1{
        width:25%;
        height: 14px;
        font-size: 12px;
        padding-top: 0px;
        }
        .l2{
          width:15%;
        height: 14px;
        font-size: 12px;
        padding-top: 0px;
        }
        .l3{
          width:20%;
        height: 14px;
        font-size: 12px;
        padding-top: 0px;
        }

}

@media only screen and (min-width: 992px) {
	.meet{
		grid-template-columns: auto auto auto;
	}
	.meet1{
	grid-template-columns: auto auto auto;
	}
	p{
		text-align:center;
		font-size:14px;
		width:100%;
		}	
	h1,h2,h4,h5{
		font-size:15px;
		height:16px;
		padding-top:0px;	
		margin-top:10px;
		margin-bottom:10px;
		}
    .l1{
      width:20%;
      height: 16px;
      font-size: 14px;
      padding-top: 0px;
      }
      .l2{
        width:10%;
      height: 16px;
      font-size: 14px;
      padding-top: 0px;
      }
      .l3{
        width:15%;
      height: 16px;
      font-size: 14px;
      padding-top: 0px;
      }
}

@media only screen and (min-width: 1200px) {
	.meet{
		grid-template-columns: auto auto auto;
	}
	.meet1{
	grid-template-columns: auto auto auto auto;
	}
	p{
		text-align:center;
		font-size:14px;
		width:100%;
		margin-top:20px;
		margin-bottom:20px;
		}	
	h1,h2,h4,h5{
		font-size:15px;
		height:16px;
		padding-top:0px;	
		margin-top:20px;
		margin-bottom:20px;
		}
    .l1{
      width:15%;
      height: 16px;
      font-size: 14px;
      padding-top: 0px;
      }
      .l2{
        width:12%;
      height: 16px;
      font-size: 14px;
      padding-top: 0px;
      }
      .l3{
        width:12%;
      height: 18px;
      font-size: 14px;
      padding-top: 0px;
      }
      h1{
        width: 15%;
      }
}


